<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<title><%= htmlWebpackPlugin.options.title %></title>
		<script type="text/javascript">
			(function() {
				var screenTypes = <%= JSON.stringify(htmlWebpackPlugin.options.screenTypes || []) %>;
				var defaultType = {name: 'standard', pxPerRem: 16, width: window.innerWidth, height: window.innerHeight, aspectRatioName: 'standard', base: true};
				if(screenTypes.length===0) {
					screenTypes.push(defaultType);
				}
				var height = window.innerHeight,
					width = window.innerWidth;
				var scrObj = screenTypes[screenTypes.length - 1];
				if(height > width) {
					width = height;
				}
				for(var i=screenTypes.length-1; i>=0; i--) {
					if(width <= screenTypes[i].width) {
						scrObj = screenTypes[i];
					}
				}
				document.documentElement.style.fontSize = scrObj.pxPerRem + 'px';
			})();
		</script>
		<% for(var i=0; i<htmlWebpackPlugin.files.css.length; i++) { %><link href="<%= htmlWebpackPlugin.files.css[i] %>" rel="stylesheet"/><% } %>
	</head>
	<body>
		<div id="root"></div>
		<script type="text/javascript">
			window.onload = function() { setTimeout(function() {
			<% if(!htmlWebpackPlugin.options.snapshot) { %>
				var count = 0;
				var appendScripts = function(js) {
					if(js.length===0) {
						if(typeof enact_framework !== 'undefined') {
							window.ReactDOM = enact_framework('react-dom');
						}
						if((typeof App === 'object') && (typeof ReactDOM === 'object')) {
							var appEle = (App && App.__esModule) ? App['default'] : App;
							if(typeof appEle === 'object' && appEle) {
								console.warn('WARNING: HTML-side isomorphic rendering is depreciated and will be removed in a future release. Please conditionally render within the app itself.');
								console.warn('    See https://github.com/enyojs/enact-dev/blob/develop/template/src/index.js for an example entrypoint.');
								ReactDOM.render(appEle, document.getElementById('root'));
							}
						}
					} else {
						var src = js.shift();
						var script = document.createElement('script');
						script.type = 'text/javascript';
						script.src = src;
						script.onload = function() {
							appendScripts(js);
						};
						document.body.appendChild(script);
					}
				};
				appendScripts(<%= JSON.stringify(htmlWebpackPlugin.files.js || []) %>);
			<% } else { %>
				if(typeof iLibLocale === 'object') {
					iLibLocale.updateLocale();
				}
				if(typeof App === 'object' && (typeof ReactDOM === 'object')) {
					ReactDOM.render(App['default'] || App, document.getElementById('root'));
				} else {
					console.log('ERROR: Snapshot app not found');
				}
			<% } %>
			}, 0); };
		</script>
		
	</body>
</html>